# Backend
backend/vendor/
backend/.env
backend/uploads/
backend/*.log

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/npm-debug.log
frontend/yarn-error.log

# IDE
.vscode/
.idea/
*.sublime-*

# OS
.DS_Store
Thumbs.db
